.table > :not(caption) > tr > th {
    padding: 0.625rem 1.5rem 0.625rem !important;
    background-color: #6a6e51 !important;
  }

  .table > tr > td {
    padding: 0.625rem 1.5rem 0.625rem !important;
  }

  .table-bordered > :not(caption) > tr > th,
  .table-bordered > :not(caption) > tr > td {
    border-width: 1px 1px;
    border-color: #6a6e51;
  }

  .table > :not(caption) > tr > td {
    padding: 0.8rem 1rem !important;
  }
  .bg-success {
    background-color: #40c710 !important;
  }

  .bg-danger {
    background-color: #f44032 !important;
  }

  .bg-warning {
    background-color: #f5d700 !important;
    color: #000;
  }